In [ ]:
Introduction to list datatype :

In [ ]:
Defination : A list is a collection of items defined in a particular order.
Classification : lists are classifies as a mutable datatype ( which we can edit or alter)

How to define the list....? [] ====> by using the square brackets we can define the lists..

In [1]:
students = ['nakshatra','bhavana','john',]

In [2]:
print(students)

['nakshatra', 'bhavana', 'john']

In [3]:
type(students)

list

In [ ]:
Introduction to indexing :
The order is being maintained by using the concept of indexing
0,1,2,3,4.....

In [ ]:
# req : i want to access john name in the output...?

In [4]:
print(students[2])

john

In [ ]:
# req : i want to access nakshatra name in the output...?

In [5]:
print(students[0])

nakshatra

In [ ]:
1. how to add new elements to the list
2. how to modify the elements in a list 
3. how to delete the elements in a list

In [6]:
print(students)

['nakshatra', 'bhavana', 'john']

In [ ]:
# req : i want to add sandeep to the above list...?

In [7]:
students.append('sandeep')

In [8]:
print(students)

['nakshatra', 'bhavana', 'john', 'sandeep']

In [ ]:
# req : i want to add naveen to the above list...?

In [9]:
students.append('naveen')

In [10]:
print(students)

['nakshatra', 'bhavana', 'john', 'sandeep', 'naveen']

In [ ]:
# req : i want to add jyothi in the 1st position...?

In [11]:
students.insert(1,'jyothi')

In [12]:
print(students)

['nakshatra', 'jyothi', 'bhavana', 'john', 'sandeep', 'naveen']

In [ ]:
Interview question : what is the diff btw append and insert method in a list?

In [ ]:
2. how to modify the elements in a list

In [13]:
print(students)

['nakshatra', 'jyothi', 'bhavana', 'john', 'sandeep', 'naveen']

In [ ]:
# req : i want to modify bhavana to bhavani

In [14]:
students[2] = 'bhavani'

In [16]:
print(students)

['nakshatra', 'jyothi', 'bhavani', 'john', 'sandeep', 'naveen']

In [ ]:
3. how to delete the elements in a list

In [ ]:
# req : i want to delete john from the list....?

In [17]:
del students[3]

In [18]:
print(students)

['nakshatra', 'jyothi', 'bhavani', 'sandeep', 'naveen']